PORT=5000

MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/dimsum_ratu?retryWrites=true&w=majority&appName=Cluster0

JWT_SECRET=ganti_dengan_string_rahasia_yang_panjang_dan_random
JWT_EXPIRES_IN=7d

NODE_ENV=development
FRONTEND_URL=http://localhost:3000

# Google OAuth
GOOGLE_CLIENT_ID=10981...ef70.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=GOCSPX-...AWfU_C...